/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
*,*:before,*:after {
 box-sizing: border-box;
}

img {
 max-width: 100%;
 height: auto;
}


/* get start */
/* html body wrap and map have to set height */
html,
body {
    font-family: Microsoft JhengHei;
    height: 100%;
}
.wrap {
    height: 100%;
    position: relative;
}
.header {
    background: rgba(48, 46, 46, 0.8);
}
.marker {
	color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 0.8% 0;
}
.marker img {
    width: 60px;
    height: 60px;
    background: white;
    border: 1px solid white;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
}
.box {
	width: 20%;
    padding: 10px 20px;
    background: #DE2453;
    border: 3px solid #AB2044;
    border-radius: 10px;
    position: absolute;
    right: 5px;
    top: 85px;
    z-index: 10;
}
.box p {
    font-size: 18px;
    line-height: 1.2em;
    color: white;
}
#map {
    height: 93%;
}
.setContent {
    font-family: Microsoft JhengHei, arial;
    line-height: 1.5em;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
}

/* all.js setContent set style */
.setContent h2 {
    font-size: 24px;
    margin: 10px 0;
}
.setContent img {
    width: 15%;
    height: 15%;
}
